table,tr,td{
    border: 2px solid blue;
    border-collapse: collapse;
  }



.main{
  width :120%;
  background-color: #999;
  /* flex box syntax */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}
.left{

  background-color: #663399;
  border: 5px  solid #000;
  margin: 5px;
  flex: 1;
/* background-image: url(); */
}
.right{

  background-color: #d2691e;
  border: 5px solid #fff;
  margin: 5px;
  flex: 2;
}
#name{
  color: green;
}
.left img{
  border-radius: 40px;
  border: 5px solid #000;
}

}
/* media queries(1024,1280,768,480)
1280-1024 : desktop
1024-768 : tablet(landscape and portarit)
768-480 : mobile(landscape and  portarit)
480  : mobile (or)smaller device */
/* @media only screen and (min-width:425px){ */
  @media only screen and (min-width:1024px) and (max-width:1280px){
    .main{
      display :flex;
      background-color: blue;
      width :100%;
    }
    .left{
      width: 25%;
      background-color: green;
    }
    .right{
      width:75%;
      background-color: orange;
    }
    }
    @media only screen and (min-width:768px) and (max-width:1024px){
      }  .main{
          display :flex;
          flex_wrap :wrap;
          background-color: violet;
          width :100%;
        }
        .left{
          width: 25%;
          background-color: pink;
        }
        .right{
          width:75%;
          background-color: orange;
        }
        }


      @media only screen and (min-width:480px) and (max-width:768px){
        }  .main{
            display :flex;
            flex_wrap :wrap;
            background-color: brown;
            width :100%;
          }
          .left{
            width: 25%;
            background-color: skyblue;
          }
          .right{
            width:75%;
            background-color: orange;
          }
          }
