.main{
  width: 120%;
  background-color: #999;
  /* flex box syntax */
  display: flex;
  flex-direction: row;
}
.left{
  width: 35%;
  background-color: #c45e45;
  border: 5px  solid #000;
  margin: 5px;
/* background-image: url(); */
}
.right{
  width: 70%;
  background-color: violet;
  border: 5px solid #fff;
  margin: 5px;
}
#name{
  color: green;
}
.left img{
  border-radius: 40px;
  border: 5px solid #000;
}
/* media queries(1024,1280,768,480)
1280-1024 : desktop
1024-768 : tablet(landscape and portarit)
768-480 : mobile(landscape and  portarit)
480  : mobile (or)smaller device */
/* @media only screen and (min-width:425px){ */
  @media only screen and (min-width:1024px) and (max-width:1280px){
    .main{
      display :flex;
      background-color: blue;
      width: 100%;
    }
    .left{
      width: 25%;
      background-color: green;
    }
    .right{
      width:75%;
      background-color: violet;
    }
    }
    @media only screen and (min-width:768px) and (max-width:1024px){
      }

      @media only screen and (min-width:480px) and (max-width:768px){
        }
